header{
	background: linear-gradient(#C0C0C0, #DCDCDC);
}

ul{
	list-style: none;
	margin: 0;
	padding: 20px;
}

li{
	display: inline;
	font-size: 25px;
	color: #293133;
}

a{
	font-size: 25px;
	padding: 16px;
	color: #293133;
	text-decoration: none;
}

a:hover{
	color: #9932CC;
	text-decoration: none;
}